*,
::before,
::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: #000;
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
}
.contact-container{
  background: url(images/DeeTech\ Academy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px;
}
.h3{
  text-align: center;
  padding-bottom: 10px;
}
.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
label{
  display: block;
  border: none;
  color: rgb(228, 9, 9);
}
input{
  background: transparent;
  color: red;
  border: none;
  border-bottom: 2px solid #525050;
  outline: none;
}
textarea{
  background: transparent;
  border: 2px solid #525050;
  outline: none;
  color: red;
  font-size: large;
}
button{
  display: block;
   background: rgb(63, 63, 70);
  color: #fff;
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: linear 0.6s;
}
button:hover{
  background: rgb(9, 9, 34);
  transition: linear 0.6s;
}

.fa, a{
  font-size: xx-large;
  padding: 10px;
  color: #fff;
}